In [92]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

import re
import pandas as pd

In [27]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [66]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## Get latest news article and paragraph

In [29]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [16]:
#Scape Page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

grid = soup.find('ul', class_='item_list')

articles = grid.find_all('li', class_='slide')

    news_title = article.find('div', class_='content_title').text

    news_p = article.find('div', class_='article_teaser_body').text

print('Scrapping Complete!')

print(news_title)

print(news_p)

Scrapping Complete!

## Get featured image from MArs website

In [62]:
#obtain featured image from Space Images website
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [63]:
#Scrape Page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

browser.click_link_by_partial_text('FULL IMAGE')

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

image_relative_path = soup.find('img', class_='fancybox-image')['src']

featured_image_url = 'https://www.jpl.nasa.gov/' + image_relative_path

print('Scrapping Complete!')

featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA18292_ip.jpg'

## Get latest weather from Twitter page

In [68]:
#obtain featured image from Space Images website
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [86]:
#Scrape Page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

mars_weather = soup.find('span', text = re.compile('InSight sol')).text

mars_weather = mars_weather.replace('InSight s', 'S') 

print('Scrapping Complete!')

mars_weather

'InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF)\nwinds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 6.80 hPa'

## Mars fact Website

In [88]:
#obtain featured image from Space Images website
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [94]:
#Scrape Page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

mars_fact_table = soup.find('table', class_="tablepress tablepress-id-p-mars")

mars_fact_table = pd.read_html(str(mars_fact_table)) #[0]

print('Scrapping Complete!')

mars_fact_table

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [100]:
df = pd.read_html(str(test))
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers